.button {
  border: none;
  border-radius: .5rem;
  height: 2rem;
  padding: .2rem .3rem;
  cursor: pointer;

  &--blue {
    background-color: $blue-color;
    color: $white-color;
  }

  &--black {
    background-color: $black-color;
    color: $white-color;
  }
}
