$purple-dark: #232536;
$white-primary: #ffffff;
$grey-primary: #999999;
$black-primary: #000000;
$blue-color: #0000ff;
$red-color: #ff0000;
$yellow-color: #faf8ef;
$box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.75);
