html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

textarea:focus,
input:focus {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
}

form {
    width: 100%;
}

#root {
    height: 100%;
    display: grid;
    grid-template-rows: max-content auto;
}

/* Can be redefined if smb minds or wants to change*/
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    font-synthesis: none;
    background-color: $white-primary;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
