html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  background-color: #faf8ef;
}

/* Can be redefined if smb minds or wants to change*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  background-color: #ffffff;
}

.w-100 {
  width: 100%;
}
