.form-control {
  width: 100%;
  margin-bottom: 0.5rem;

  &--profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: flex-end;
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(18, 128, 250, 1);
  }

  &--button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
