.form-control {
    width: 100%;
    margin-bottom: 30px;

    &--profile {
        display: flex;
        flex-direction: row;
    }

    &--button {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
