.button {
    border: none;
    cursor: pointer;
    padding: 14px;
    cursor: pointer;
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: $white-primary;

    &--purple {
        background-color: $purple-dark;
    }

    &--black {
        background-color: $black-primary;
    }
}
