.button {
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0.2rem 0.3rem;
  cursor: pointer;

  &--blue {
    background-color: #0000ff;
    color: #ffffff;
  }

  &--black {
    background-color: #000000;
    color: #ffffff;
  }
}
