.error-container {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  align-items: center;

  &__header {
    margin-bottom: 0;
  }

  &__code {
    font-size: 3rem;

    &--application {
      color: #0000ff;
    }

    &--server {
      color: #ff0000;
    }
  }
}
