.form-label {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: $grey-primary;
    margin-bottom: 5px;

    &--profile {
        color: #cccccc;
        min-width: 80px;
    }
}
