.form-error {
<<<<<<< HEAD
  color: rgba(243, 86, 47, 1);
=======
  color: $red-color;
>>>>>>> 66e76dbcb00ecd6e0463fd8180d2ed4978ea45d9
  display: none;
  font-size: 0.75rem;

  &--shown {
    display: block;
  }
}
