.row {
    display: grid;
    gap: 20px;
    grid-template-columns: 9.5fr 1.5fr 1fr;

    &_cell {
        color: $white-primary;
        padding: 10px;
        text-align: center;
        border: 1px solid $purple-dark;
        border-radius: 3px;
        line-height: 42px;
        font-size: 18px;
        background-color: $purple-dark;

        &:first-child {
            cursor: pointer;
            text-align: left;
            padding: 10px 20px;
        }

        &:first-child:active {
            transform: scale(0.97);
        }

        &:nth-child(2) {
            display: grid;
            grid-template-columns: auto min-content;
        }

        &_button {
            border: none;
            cursor: pointer;
            background-color: $purple-dark;

            &:active {
                transform: scale(0.9);
            }
        }
    }
}
